<article class="article1">

<h1>Sejam muito Bem Vindos ao meu Portfólio</h1>

<p>
    Sou um Padawan em início de jornada na Galáxia tecnológica, 
    desenvolvedor backend com carreira em ascendencia, com muita vontade de aprendizado e constante estudo.
    <br>
    O início desse novo caminho a ser percorrido se dá a uma antiga paixão por tecnologica
    que quando mais jovem pude ver o inicio dos primeiros passos da web. E hoje como vivemos e fazemos parte
    de muitas linhas de comando, resolvi por conta própria buscar conhecimento e dar os primeiros passos em programação.
    Já fiz alguns pequenos Projetos Utilizando ferramentas como Express, Sequelize, Mongoose,
    e outras mais dentre as muitas do universo de programação backend.
</p>

</article>

<article class="article2">
    <div class="card">
        <img src="/images/pixprofile.png" alt="" id="backgroundimage">
    </div>

    <div class="card-text">
        <h2>Objetivo de atuação</h2>
        <h2>Desenvolvedor Backend</h2>
    </div>

</article>